@media screen and (max-width: 768px){
    ._thumb h5{
        display: none;
    }
    .thumb img{
        width: 100%;
    }
    #jumbotron3-psplus .container{
        background-image: none;
    }
    #jumbotron4-psnow .container{
        background-image: none;
    }
}
@media screen and (max-width: 1200px){
    #jumbotron3-psplus .container{
        height: 350px;
    }
    #jumbotron4-psnow .container{
        height: 350px;
    }
}