/* colori */
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-psplus-gray: #BEBCBB;
    --bs-button-gray:#D9DADC;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-light-black:#1F1F1F;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 248,249,250;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
}
/* general */
img{
    width: 100%;
}
body{
    font-size: 22px;
}
/* pagina */
/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
/* banner superiore sony */
.header-top{
    background-color: var(--bs-black);
    height: 40px;
}
._logo-sony{
    width: 100px;
}
/* intestazione e navbar */
.header-bottom{
    background-color: var(--bs-white);
}
._logo-ps{
    width: 70px;
}
header a{
    color: var(--bs-black) !important;
    font-size: 20px;
    font-weight: 500;
}
._accedi{
    color: var(--bs-white);
    background-color: var(--bs-black);
    font-size: 20px;
    font-weight: 500;
}
._accedi:hover{
    color: var(--bs-white);
}
._search{
    width: 30px;
}
._search img{
    cursor: pointer;
}
/* corpo principale */
section{
    padding: 40px 0 40px 0;
}
section h2{
    font-size: 45px;
}
h1{
    font-size: 55px;
}
.hero{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--bs-white);
}
._acquista{
    color: var(--bs-white);
    background-color: var(--bs-red);
}
._acquista:hover{
    background-color: var(--bs-white);
}
._description>*{
    margin-top: 20px;
}
/* prima sezione */
#jumbotron1{
    height: 675px;
    margin-top: 126px;
    background-image: url(../img/jumbo-bg.png);
}
/* seconda sezione */
._round-game{
    border-radius: 20px;
}
._ps-title{
    margin: 90px 0;
    text-align: center;
}
._ps-title p:first-child{
    text-transform: uppercase;
    font-weight: 600;
    color: var(--bs-blue);
    margin-bottom: 0;
}
._ps-title p, ._ps5-left p{
    margin-top: 30px;
    color: var(--bs-gray);
    font-weight: 600;
}
._more-info{
    margin-top: 20px;
    color: var(--bs-white);
    background-color: var(--bs-blue);
}
._more-info:hover{
    color: var(--bs-white);
    background-color: var(--bs-blue);
}
._accessori{
    margin-top: 40px;
}
._thumb{
    text-align: center;
    border-bottom: 3px solid transparent;
    opacity: 0.6;
}
._thumb img{
    width: 70%;
}
._thumb-active{
    border-color:var(--bs-blue);
    opacity: 1;
}
._thumb:active{
    border-color:var(--bs-blue);
    opacity: 1;
}
/* terza sezione */
#jumbotron2{
    height: 775px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}
/* quarta sezione */
#games-cards{
    background-color: var(--bs-light-black);
    color: var(--bs-white);
}
._game-card{
    background-color: var(--bs-light-black);
    text-align: left;
}
#games-cards h3{
    margin: 30px 0 25px 0;
}
/* quinta sezione */
._ps4-box-title p{
    margin-top: 20px;
    color: var(--bs-gray);
    font-weight: 600;
}
._ps4-box-title ._more-info{
    margin: auto;
}
/* sesta sezione */
#jumbotron3-psplus{
    background-color: var(--bs-psplus-gray);
    padding: 0;
    color: var(--bs-black);
    font-weight: 500;
}
#jumbotron3-psplus .container{
    height: 500px;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
._esplora{
    background-color: var(--bs-button-gray);
    color: var(--bs-blue);
}
._esplora{
    background-color: var(--bs-button-gray);
    color: var(--bs-blue);
}